:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --mobileMaxWidth: 375px;
    --desktopMaxWidth: 1440px;
    --defaultFontWeight: 400;
    --heavierFontWeight: 700;
    --fontSize: 15px;
    --titleFontSize: calc(var(--fontSize) * 1.5);
}

html {
    box-sizing: border-box;
    font-size: var(--fontSize);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    height: 100vh;
    color: var(--grayishBlue);
    font-family: 'Outfit', sans-serif;
    background-color: var(--lightGray);
    max-width: var(--desktopMaxWidth);
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr clamp(320px, 40%, 350px) 1fr;
    row-gap: 10vh;
    grid-template-rows: 0.4fr clamp(360px, 70%, 600px) 0.4fr;
    grid-template-areas:
        '. . .'
        '. card .'
        '. . .';
}

.card {
    background-color: var(--white);
    grid-area: card;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
    border-radius: 22px;
    box-shadow: 8px 8px 14px -3px var(--lightGray);
}

.card figure {
    margin-bottom: 1.1em;
    max-width: 300px;
    height: 300px;
}

.card__img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: contain;
}

.card__title,
.card__text {
    max-width: 260px;
}

.card__title {
    grid-row: 2 / span 1;
    color: var(--darkBlue);
    font-size: var(--titleFontSize);
    margin-bottom: 0.9em;
}

.card__text {
    grid-row: 3 / span 1;
    margin-bottom: 0.2em;
    line-height: 1.6;
}

footer.attribution {
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.attribution div {
    margin: 1em 1.5em;
    width: fit-content;
    font-size: calc(var(--fontSize) - 3px);
}

footer.attribution a {
    color: var(--darkBlue);
}
